# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Logs de runtime
app/data/logs/

# Ambientes virtuais
venv/
.venv/
env/
.env/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema operacional
.DS_Store
Thumbs.db
